extends ../layout/common 
block content
    .container
        h1 Create users
        if error
            each e in error
                .alert.alert-danger=e
        form(action="/users/create", method="POST", enctype="multipart/form-data")
            .form-group
                lable(for="name") Name
                input#name.form-control(name="name", type="text",class="my-3", value=values?values.name:"")
                lable(for="phone") Phone
                input#name.form-control(name="phone", type="text",class="my-3", value=values?values.phone:"")
                lable(for="email") Email
                input#url.form-control(name="email", type="text",class="my-3", value=values?values.email:"")
                lable(for="pass") Pass word
                input#url.form-control(name="pass", type="password",class="my-3", value=values?values.pass:"")
                lable(for="avatar") Avatar
                input#avatar.form-control-file(name="avatar", type="file",class="my-3")
                button.btn.btn-primary Craete