extends ../layout/common 
block link
        link(rel='stylesheet', type='text/css', href='../styles/products.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
block content
    body
      .header
        header
          .container-fluid
            .nav_wrap.d-flex.flex-row.justify-content-between
              .logo
                img(src='/images/logo-inverse-133x19.png', alt='')
              form(action="/product/search", method='GET')
                input(type="text" placeholder="Search for name movies" name="name")
                button.btn
                  i.fas.fa-search
            h3 FILMS PRODUCTION  
            .frame
              h3 
                span OURS 
                span(style="color: #f44d32") FIMLS 
              p Enjoy Emovies with a alot of fun
            .text-scroll-arrow
              p SCROLL DOWN
              i.fas.fa-long-arrow-alt-down
      .container
        .judul
          .tille_bar
            h2.mt-5 LIST MOVIE WATCH
      .wrapper_products
        if films
          each val, index in films
            .container.shoe
              .icon_heart
                i.fas.fa-heart
              .productImage.shoeImg(style="background-image:url(/"+val.image[0]+")")
              .size.shoeSize
                h4 YEAR
                ul
                  li 2
                  li 0
                  li 1
                  li 9
              .price.shoePrice
                h4 PRICE
                span $150
              .color.shoeColor
                h4 COLORS
                ul
                  li
                    span.blue
                  li
                    span.yellow
                  li
                    span.red
              .productName.shoeName=val.name
              .content__down
                .container
                  .row.d-flex
                    .col-md-7
                      .stars  
                        i.fas.fa-star
                        p=val.imdb
                    .col-md-5
                      .btn-view
                        a.btn.btn-send(href='/product/'+val.id) View data
                          i.fas.fa-arrow-right

//-extends ../layout/common 
//- block content
      .row
        if films
          each val, index in films
            .col.my-3
              .card(style='width: 18rem;  height=50rem; box-sizing: border-box;')
                img.card-img-top(src=val.image[0], alt='Card image cap')
                .card-body
                  h5.card-title=val.name
                  p.card-file=val.description
                  a.btn.btn-primary(href='/cart/add/'+val.id) Add Cart
                  a.btn.btn-primary(href='/product/'+val.id) View
      .container
        section#grid.grid.clearfix
          a(href='#', data-path-hover='M 0,0 0,38 90,58 180.5,38 180,0 z')
            figure
              img(src='img/1.png')
              svg(viewbox='0 0 180 320', preserveaspectratio='none')
                path(d='M 0 0 L 0 182 L 90 126.5 L 180 182 L 180 0 L 0 0 z ')
              figcaption
                h2 Crystalline
                p Soko radicchio bunya nuts gram dulse.
                button View



